{% extends 'base.html' %}

<!-- Password reset : l'utilisateur a oublié son mot de passe, donne son mail pour recervoir un lien de confirmation de reset (non fonctionnel sur une boite mail mais on peut se servir de la console django pour prouver que ça marche)-->
{% block content %}
    <h2>
        Set new password
    </h2>
    {% if validlink %}
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
    {% else %}
    <p style="color:red;">Invalid Token :(</p>
    <p>
        <a href="{% url 'password_reset' %}">Request a new Token</a>
    </p>
    {% endif %}
{% endblock %}